body{text-align: center;background: #f2f6f8;}
#container{
    display:inline-block;
	box-sizing: content-box;
    width: 807px;
	height: 869px;
    margin: 0 auto; 
    background: white; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333;
}

#background{
	z-index:1;	
}
#workingArea{
	display: none;
	position:absolute;
	z-index:2;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
}

#transparentImg{
	position:absolute;
	left: 0;
    top: 0;
    width: 807px;
	height: 869px;
	opacity: 0;
	z-index:5;
}
#firstFloorCanvas{
    position:absolute;
    border:3px solid red;
    left: 0;
    top: 0;
    width: 807px;
	height: 869px;
    z-index:2;
}
