<HTML lang="EN">
<head>
    <title>Admin Grid Check/Edit</title>
</head>
<body>
    <script>
        //counter to track clicks, starting loc and destination html elements, original hex codes
        let counter = 0;
        let startLoc =null;
        let destination = null;
        let originalStartColor =null;
        let originalDestinationColor =null;

        //General mode variable - used to discern whether the user is editing or testing
        let generalMode = null;
        //Editing Status variable - edit modes: ("Place", "Erase")
        let editMode = null;

        //function triggered on cell click, 1st click starting point, 2nd destination, 3rd clears
        function setStatus(rect){
            if (generalMode === "Test") {
                switch (counter) {

                    //Set the starting point
                    case 0:
                        startLoc = rect.id;
                        originalStartColor = rect.style.fill;
                        rect.style.fill = "#008000";
                        console.log("starting location set");
                        console.log(startLoc);
                        counter = 1;
                        break;

                    //Set the destination
                    case 1:
                        destination = rect.id;
                        originalDestinationColor = rect.style.fill;
                        rect.style.fill = "#FF0000";
                        console.log("destination location set");
                        console.log(destination);
                        counter = 2;
                        break;

                    //Clear previous assignments
                    case 2:
                        startLoc.style.fill = originalStartColor;
                        destination.style.fill = originalDestinationColor;
                        startLoc = null;
                        destination = null;
                        console.log("locations cleared");
                        counter = 0;
                        break;
                }
            }
            else if (generalMode === "Edit"){
                console.log(editMode);
                if (editMode === "Place"){
                    rect.style.fill = "#000000";
                }
                else if (editMode === "Erase"){
                    rect.style.fill = "#FFFFFF";
                }
                else{
                    alert("Please select a tool, erasing removes walls, place adds walls");
                }
            }
            else{
                alert("Please use the edit/test buttons to select an interaction mode");
            }
        }

        // Check if the start and destination locations were set
        function checkStatus(){
            if(startLoc != null && destination != null){
                document.getElementById("startLocInput").innerText = startLoc;
                document.getElementById("destinationLocInput").innerText = destination;
                return true;

            }
            else{
                console.log("Error start location or destination weren't set");
                alert("Please set the starting location and the destination first");
                return false;
            }

        }
        //Toggle General mode for switching between testing and editing
        function toggleGeneralMode(element){
            if (element.id === "editButton" && (generalMode === null || generalMode === "Test")){
                generalMode = "Edit";
                document.getElementById("editOptions").style.left = "8px";
                document.getElementById("testOptions").style.left = "-1000px";
            }
            else if (element.id === "testButton" && (generalMode === null || generalMode === "Edit")) {
                generalMode = "Test";
                document.getElementById("editOptions").style.left = "-1000px";
                document.getElementById("testOptions").style.left = "8px";
            }
        }

        //Toggle Erase mode for editing the floor plan
        function toggleEditMode(element){
            if (element.id === "eraseButton" && (editMode === null || editMode === "Place")){
                editMode = "Erase";
            }
            else if (element.id === "placeButton" && (editMode === null || editMode === "Erase")){
                editMode = "Place";
            }
        }

    </script>
    <h1>Floorplan Grid</h1>
    <div id="gridArea">
        <svg height={{height}} version="1.1" width={{width}} xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
        {% for rect in gridData %}
            <rect id="rect-{{rect[0]}}" x="{{rect[1]}}" y="{{rect[2]}}" width="10" height="10" fill="{{rect[3]}}" stroke="#000" onClick="setStatus(this);"></rect>
        {% endfor %}
        </svg>
    </div>

    <button id="editButton" type="button" onclick="toggleGeneralMode(this)">Edit Mode</button>
    <button id="testButton" type="button" onclick="toggleGeneralMode(this)">Test Mode</button>

    <div id="editOptions" style="position: absolute; left: -1000px;">
        <button id="eraseButton" type="button" onclick="toggleEditMode(this)">Erase Mode</button>
        <button id="placeButton" type="button" onclick="toggleEditMode(this)">Place Mode</button>
    </div>

    <div id="testOptions" style="position: absolute; left: -1000px;">
        <form action="" method="POST">
            <input name="gridButton" type="submit" onclick="checkStatus()" value="Start Search">
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='pathingMethods.js') }}"></script>
    <button onclick="debug(startLoc, destination, {{ gridData }})">test</button>
</body>
</HTML>