<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escape Room | Admin</title>
</head>
<body>
    <script src="wordDict.js"></script>
    <button type="button" onclick="setRoomPass()">Generate Room Password</button>
    <script>
        let roomPass = "";
        function setRoomPass() {
            roomPass = generateString();
            localStorage.setItem("RoomPassword", roomPass);
            alert("Escape Room Password is: "+ roomPass);
        }
    </script>
</body>
</html>