<HTML lang="EN">
<head>
    <title>Test Page</title>
</head>
<body>
    <h1>Upload Floor Plan</h1>
    <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
        <label for="file">Upload a floor plan image</label><br>
        <input type="file" name="file" accept="image/*"/><br><br>

        <input type="radio" id="Auto" name="processingOption" value="Auto" checked>
        <label for="Auto"> Auto Processing</label>
        <input type="radio" id="TTied" name="processingOption" value="TTied">
        <label for="TTied"> Tolerance Tied Processing</label>
        <input type="radio" id="None" name="processingOption" value="None">
        <label for="None"> No Processing</label><br><br>

        <label for="toleranceSlider">Select a tolerance value</label><br>
        <input type="range" min="0" max="255" value="50" class="slider" name="tolerance" id="toleranceSlider"><br><br>

        <input type="submit"/>
    </form>
</body>
</HTML>